/*vi*/
:root {
}
/**
  |============================
  | Bas styles
  |============================
*/
body {
  color: #2e2f42;
}
/*reset start*/
ul,
ol {
  list-style-type: none;
}
a {
   text-decoration: none; 
   color: currentColor;
}
/*reset end*/
.
/**
  |============================
  | Header styles
  |============================
*/
.header {
    background: var(--WHITE, #FFF);
}
/**index.html**/
/**
  |============================
  | Her
  |============================
*/
/**
  |============================
  | Section 1
  |============================
*/
/**
  |============================
  | Section 2
  |============================
*/
/**
  |============================
  | Section 3
  |============================
*/
/**Portfolio.html**/
/**
  |============================
  | Filters
  |============================
*/
/**
  |============================
  | Row 1
  |============================
*/
/**
  |============================
  | Row 2
  |============================
*/
/**
  |============================
  | Row 3
  |============================
*/
/**
  |============================
  | Footer
  |============================
*/